<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Usuário</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Joao</td>
            <td>Mateus</td>
            <td>johny</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Jose</td>
            <td>Silva</td>
            <td>jsilva</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Alan</td>
            <td>Maia</td>
            <td>alan_maia</td>
          </tr>
        </tbody>
      </table>
</body>
</html>